h5.choose {
  /* اختر موعد الحجز */
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #000000;
  margin-right: 40px;
  margin-top: 20px;
}
div.loop {
  margin-right: 15px;
}
h4.loop\. {
  /* تكرار الخدمة */
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: #1d1d35;
  margin-right: 29px;
}
div.Rectangle12 {
  /* Rectangle 12 */
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
  width: 130px;
  height: 50px;
  margin-right: 20px;
}
div.date {
  margin-right: 15px;
}
h4.date {
  /* التاريخ والوقت */
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: #1d1d35;
  margin-right: 35px;
}
div.Rectangle13 {
  /* Rectangle 13 */
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  border: 2px solid #f2f2f2;
  border-radius: 12px;
  margin-right: 35px;
  margin-top: 20px;
}
.SelectDate .end {
  margin-top: 20px;
}
