div.Rectangle6 {
  /* Rectangle 3 */
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #00adee;
  border-radius: 16px;
  height: 100px;
  width: 690px;
  margin-right: 35px;
  margin-top: 30px;
}
div.Rectangle8 {
  /* Rectangle 3 */
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #f2f2f2;
  border-radius: 16px;
  height: 100px;
  width: 690px;
  margin-right: 35px;
  margin-top: 30px;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  width: 30px;
  height: 30px;
  margin-top: 35px;
  margin-right: 35px;
}
img.Maskgroup4 {
  margin-right: 90px;
  margin-top: -90px;
}
h6.bedroom {
  width: 70px;
  margin-right: 202px;
  margin-top: -66px;
}
h4.price {
  width: 48px;
  margin-right: 300px;
  margin-top: -30px;
}
button.btn.btn-warning.d-flex.justify-content-center.align-items-center {
  margin-right: 380px;
  margin-top: -40px;
  width: 35px;
  height: 35px;
}
input.form-control {
  margin-right: 10px;
  margin-top: -40px;
}
button.btn.btn-warning1.d-flex.justify-content-center.align-items-center {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: -40px;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  margin-top: -24px;
}
div.Group78 {
  width: 150px;
}
h6.show-hide {
  margin-right: 575px;
  margin-top: -65px;
}
img.vactor9 {
  margin-right: 645px;
  margin-top: -85px;
}
div.Rectangle7 {
  width: 692px;
  height: 250px;
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #f2f2f3;
  border-radius: 16px;
  margin-right: 33px;
  margin-top: 25px;
}
input.form-control1 {
  width: 35px;
  height: 35px;
  border: 1px solid #e5f7fd;
  border-radius: 6px;
  margin-right: 430px;
  margin-top: -89px;
}
button.btn.btn-warning2.d-flex.justify-content-center.align-items-center {
  width: 35px;
  height: 35px;
  margin-right: 474px;
  margin-top: -35px;
}
img.vector2 {
  margin-right: 630px;
  margin-top: -165px;
}
p.elements {
  width: 275px;
  margin-right: 90px;
  margin-top: 26px;
}
.element {
  width: 190px;
  margin-right: 76px;
  color: #000;
}
h6.show-hide1 {
  margin-top: -47px;
  margin-right: 174px;
}
img.vector3 {
  margin-right: 68px;
  margin-top: -70px;
}
