div.RectangleReservations {
  margin-right: 311px;
  margin-top: -413px;
  width: 880px;
  height: 750px;
  background-color: ghostwhite;
}
h5.Reservations {
  /* نظرة عامة */
  font-weight: 800;
  font-size: 25px;
  line-height: 85px;
  text-align: right;
  color: #000000;
  width: 111px;
  margin-right: 38px;
}
.searchRectangle {
  width: 800px;
  height: 75px;
  margin-top: 39px;
  background: #ffffff;
  border-radius: 12px;
  margin-right: 38px;
}
input.form-control.form-control-sm.ml-3.w-75 {
  /* 1565 او محمد الهبيل .. */
  margin-top: -34px;
  margin-right: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.4px;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}
i.fa.fa-search {
  margin-right: 10px;
  margin-top: 25px;
}
.all {
  width: 30px;
}
h6.all0 {
  /*الكل*/
  width: 32px;
  margin-top: -25px;
  margin-right: 395px;
}
.hanging0 {
  width: 30px;
}
h6.hanging {
  /* معلق */
  width: 38px;
  margin-top: -28px;
  margin-right: 445px;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  text-align: right;
  color: #808080;
}
.Confirmed0 {
  width: 50px;
}
h6.Confirmed {
  /*تم تأكيده*/
  width: 60px;
  margin-top: -28px;
  margin-right: 510px;
  font-weight: 300;
  font-size: 15px;
  text-align: right;
  color: #808080;
}

.rejected0 {
  width: 60px;
}
h6.rejected {
  /*تم رفضه*/
  width: 60px;
  margin-top: -28px;
  margin-right: 595px;
  font-weight: 300;
  font-size: 15px;
  text-align: right;
  color: #808080;
}
select.form-select {
  width: 95px;
  margin-top: -35px;
  margin-right: 685px;
}
th {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.4px;
  margin-top: 10px;
  color: #9fa2b4;
}
td {
  font-weight: 300;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000;
}
table.table.table-sm.table-striped.table-bordered.table-hover {
  width: 800px;
  margin-right: 39px;
  margin-top: 30px;
}

ul.pagination {
  margin-right: 270px;
  margin-top: 262px;
}
a.page-link {
  color: #000;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: #00adee;
  background-color: #ffffff;
  border-color: #00adee;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
}
