* {
  margin-bottom: 0%;
  font-family: "Avenir Arabic";
}
.img {
  display: flex;
  align-items: center;
}
.fas1 {
  margin-right: 3px;
  margin-bottom: 10px;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px;
  background: #e5f7fd;
  border: 1px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
}
.text-uppercase {
  text-transform: uppercase !important;
  color: black;
}
.logo {
  margin-right: -3px;
}
img.phone {
  margin-right: 0px;
}
div .servise {
  color: #7d7e82;
  text-align: start;
  font-size: 16px;
  margin-right: -22px;
}
.containar {
  margin-bottom: 0px;
}
.div .logo1 span {
  color: #00adee;
}
p .Paragraph {
  text-align: end;
}

p {
  color: #7d7e82;
}
.servise .p {
  color: #7d7e82;
  text-align: end;
}
.fas {
  font-weight: 25;
  text-align: left;
}
.divider {
  border: none;
  border-top: 6px solid #fff;
  margin: 20px 9;
  height: 5px;
}
.row {
  margin-bottom: 0px;
}
h5.text-uppercase.mb-4.font-weight-.text-end {
  margin-right: -20px;
}
h5.text-uppercase.mb-4.font-weight-bold.text-end {
  margin-right: -20px;
}
h5.text-uppercase.mb-4.font-weidht-bold.text-end {
  margin-right: 4px;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  font-size: 14px;
  margin-right: 21-px;
}
img.map {
  margin-right: -48px;
}
@media (max-width: 600px) {
  footer {
    padding: 20px;
    margin-left: -150px;
  }
  h4 {
    margin-right: 141px;
  }
  p.Paragraph {
    font-size: 14px;
    margin-right: 180px;
  }
  p.text {
    text-align: center;
  }
  img.mapImage {
    margin-right: 85px;
  }
  h5.text-uppercase.mb-4.font-weight-.text-end {
    margin-right: 170px;
  }
  h5.text-uppercase.mb-4.font-weight-bold.text-end {
    margin-right: 152px;
  }
  p.fas2.mr-3 {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 121px;
    font-size: 14px;
  }
  div.img {
    display: flex;
    margin-right: 121px;
    font-size: 14px;
  }
  h5.text-uppercase.mb-4.font-weidht-bold.text-end {
    margin-right: 162px;
    font-size: 17px;
  }
  .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-size: 14px;
    margin-right: 121px;
  }
  img.map {
    vertical-align: middle;
    margin-right: 93px;
  }
  img.clean {
    margin-right: -3px;
  }
}
