body {
  margin: 0;
  font-family: 'Avenir Arabic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: -1px;

  }

:root{
  margin-bottom: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container, .container-sm {
  margin-bottom: -1px;
}

