img.line7 {
  width: 800px;
  margin-right: -12px;
  margin-top: -22px;
}
/* اختر الخدمات التي تحتاج تنظيفها من أي تصنيف تريده */
p.text61 {
  height: 31px;
  left: 857.48px;
  top: 317.01px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  color: #000000;
  margin-right: 28px;
  margin-top: 20px;
}
img.img\.vector2 {
  margin-right: 10px;
}
@media (max-width: 600px) {
}
